2to3==1.0
appnope==0.1.2
argcomplete==1.10.3
asgiref==3.5.0
async-generator==1.10
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.8.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
ci-info==0.2.0
click==8.1.3
coloredlogs==15.0.1
compressed-rtf==1.0.6
configobj==5.0.6
configparser==5.2.0
cryptography==36.0.1
cycler==0.11.0
Cython==0.29.24
debugpy==1.5.1
decorator==5.1.0
Django==4.0.3
djangorestframework==3.13.1
docx2txt==0.8
ebcdic==1.1.1
entrypoints==0.3
etelemetry==0.3.0
extract-msg==0.28.7
filelock==3.7.0
finplot==1.8
finta==1.3
fitz==0.0.1.dev2
Flask==2.2.2
fonttools==4.28.1
future==0.18.2
h11==0.13.0
httplib2==0.20.4
humanfriendly==10.0
idna==3.3
IMAPClient==2.1.0
img2pdf==0.4.4
ipykernel==6.5.1
ipython==7.29.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
kiwisolver==1.3.2
loess==2.1.1
looseversion==1.0.1
lxml==4.6.4
MarkupSafe==2.1.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
MouseInfo==0.1.3
mpl-finance==0.10.1
multitasking==0.0.10
nest-asyncio==1.5.1
networkx==2.8.2
nibabel==3.2.2
nipype==1.8.1
numpy==1.21.4
ocrmypdf==13.4.4
olefile==0.46
outcome==1.1.0
packaging==21.3
pandas==1.3.4
parso==0.8.2
pathlib==1.0.1
pdfminer.six
pdfplumber==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==5.1.3
Pillow==9.1.1
plotbin==3.1.3
pluggy==1.0.0
prompt-toolkit==3.0.22
prov==2.0.0
ptyprocess==0.7.0
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.14.1
pydot==1.4.2
PyGetWindow==0.0.9
Pygments==2.10.0
pylab-sdk==1.3.2
PyMsgBox==1.0.9
PyMuPDF==1.19.6
pyOpenSSL==22.0.0
pyparsing==3.0.6
PyPDF2==1.27.12
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.3
PyRect==0.1.4
PyScreeze==0.1.28
python-dateutil==2.8.2
python-pptx==0.6.21
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.3
pyxnat==1.4
pyzmq==22.3.0
rdflib==6.1.1
reportlab==3.6.9
requests==2.26.0
rubicon-objc==0.4.2
scikit-learn==1.0.2
scipy==1.7.2
selenium==3.141.0
setuptools-scm==6.3.2
simplejson==3.17.6
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
sqlparse==0.4.2
threadpoolctl==3.1.0
tkcalendar==1.6.1
tomli==1.2.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
traits==6.3.2
trio==0.19.0
trio-websocket==0.9.2
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.7
Wand==0.6.7
wcwidth==0.2.5
Werkzeug==2.2.2
wikipedia==1.4.0
wsproto==1.0.0
xlrd==1.2.0
XlsxWriter==3.0.3
yfinance==0.1.66
